@model IEnumerable<BookViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>All Books</h1>
<br />
<a asp-action="Create" class="btn btn-primary ">Add New Book</a>
<br />
<br />
@if (Model?.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(E=>E.Title)</th>
                <th>@Html.DisplayNameFor(E=>E.AuthorId)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            
                <tr>
                    <td>@Html.DisplayFor(E=>item.Title)       </td>
                    <td>@Html.DisplayFor(E=>item.AuthorId)        </td>
                    <partial name="_ButtonsViewPartial" model="@item.Id.ToString()" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning mt-5">
        <h3>No Books Found</h3>
    </div>
}
